.cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.newsheading {
    display: grid;
    justify-content: center;
    align-items: center;
}

.newsheading  .__className_27467d {
    font-family: '__Covered_By_Your_Grace_27467d', '__Covered_By_Your_Grace_Fallback_27467d';
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    color: #EEC044;
}
.newsImageWrapper {
    position: relative;
    width: 100%; /* Make sure the wrapper takes the full width of the card */
    height: 200px; /* Set a fixed height for the images */
    overflow: hidden; /* Hide overflow to maintain a clean layout */
}

.cardImage {
    object-fit: cover; /* Ensures the image covers the area without distortion */
    width: 100%; /* Makes the image responsive to the wrapper */
    height: 100%; /* Ensures it fills the fixed height */
}

.newsbutton {
    position: absolute;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.newsbutton button {
    width: 140px;
    height: 30px;
    background: #4BAF47;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background 0.3s; /* Smooth transition for hover effect */
}

.newsbutton button:hover {
    background: #3a8b3d; /* Change color on hover */
}
.userAction img{
    width: 20px;
    height: 25px;

}
.userAction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    gap: 4px;
}
.userAction span{
    font-size: 15px;
    color: #878680;
}